body{
    background-image: url("https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/subtle-light-grunge-texture-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
    img{
        max-width: 100%;
    }
    a:link{
        color:blue;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color:green;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: black;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
      }